@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", serif;
}

.section-one {
    background-color: #1F2937;
}

.navbar-left {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar-left,.navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

 .content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

img {
    margin-bottom: 50px;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 150px;
    justify-content: center;
}

.p-first {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 3px;
}

.sign-up-button-1 {
  background-color:  #3882f6;
  color: white;
  width: 100px;
  height: 30px;
  border: 1px #3882f6;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.info-header {
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
}

.divs-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 75px;
}

.blue-box {
    border: 4px solid #3882f6;
    width:  160px;
    height: 160px;
    border-radius: 10px;
  }

  .p-second {
    text-align: center;
    font: 18px;
  }
 

.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    height: 400px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    margin-top: 125px;
    font-style: italic;
    font-weight: lighter;
}

.thor {
    font-weight: bolder;
    margin-left: 450px;
}

.section-four {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    border-radius: 10px;
    height: 50%;
    width: 75%;

}


.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: 100px;
}


h3 {
    font-size: 18px;
     color: white;
}

.p-fourth {
    color: white;
    font-size: 18px;
}

.right {
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

.button-4 {
font-size: 18px;
 background-color:  #3882f6;
 color: white;
 width: 150px;
 height: 50px;
 border: 1px solid white;
 border-radius: 10px;
 margin-top: 10px;
 font-weight: bold;
 margin-right: 60px;

}

.section-five {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 100px;
}

.footer {
    color: white;
}